{% extends "base.html" %}

{% block content %}
        <p>

            <h1>{{ info.artistName }}</h1>
            <strong>Hometown:</strong>
                {{ info.hometown }}
            <br>
            <strong>Description:</strong>
                {{ info.description }}
            <br><br>
        <ul>
       {% for event in event_list %}
        <li><b>{{ event.name }}</b> at the <b>{{ event.venue.venueName }}</b>
            on <b>{{event.start_time.strftime('%A, %b %d %Y')}}</b>.</li>
       {% endfor %}
        </ul>
        </p>

{% endblock %}
